<!-- 🔥 CABECERA DEL MODAL -->
<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Seleccionar proveedor</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="close()">
        Cerrar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- 🔥 CONTENIDO DEL MODAL -->
<ion-content content-id="providers-content">

  <!-- 🔥 BLOQUE DE SERVIDOR EN UNA SOLA LÍNEA -->

   <app-server-config></app-server-config>


  <!-- 🔥 TÍTULO DE PROVEEDORES -->
  
<ion-segment>
  <ion-segment-button value="local" content-id="local">
    <ion-label>Local</ion-label>
  </ion-segment-button>
  <ion-segment-button value="ad" content-id="ad" [disabled]="!isAdAvailable()">
    <ion-label>AD</ion-label>
  </ion-segment-button>
  <ion-segment-button value="odoo" content-id="odoo"  [disabled]="!isOdooAvailable()">
    <ion-label>Odoo</ion-label>
  </ion-segment-button>
  <ion-segment-button value="unierp" content-id="unierp" [disabled]="!isUnierpAvailable()">
    <ion-label>Unierp</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-segment-view>

  <!-- LOCAL -->
  <ion-segment-content id="local">
    <ion-item-divider>
      <ion-label>Acceso Local PINX</ion-label>
    </ion-item-divider>

    <ion-list>
      @for (field of localFields; track field.id) {
        <ion-item>
          <ion-label position="stacked">{{ field.label }}</ion-label>

          <!-- 🔥 INPUT NORMAL -->
          @if (field.type !== 'password') {
            <ion-input
              [type]="field.type"
              [value]="form()['local']?.[field.id!]"
              (ionInput)="updateField('local', field.id!, $event.target.value)"
              (keyup.enter)="connect('local')"
            ></ion-input>
          }

          <!-- 🔥 INPUT PASSWORD -->
          @if (field.type === 'password') {
            <ion-input
              [type]="isPasswordVisible('local', field.id!) ? 'text' : 'password'"
              autocomplete="off"
              [value]="form()['local']?.[field.id!]"
              (ionInput)="updateField('local', field.id!, $event.target.value)"
              (keyup.enter)="connect('local')"
            ></ion-input>

            <ion-icon
              slot="end"
              [src]="isPasswordVisible('local', field.id!) 
                ? 'assets/icon/eye-off.svg' 
                : 'assets/icon/eye.svg'"
              (click)="togglePassword('local', field.id!)"
            ></ion-icon>
          }
        </ion-item>
      }
    </ion-list>

    <ion-button expand="block" color="success" (click)="connect('local')">
      Conectar Local
    </ion-button>

    
  </ion-segment-content>


  <!-- AD -->
  <ion-segment-content id="ad">
    <ion-item-divider>
      <ion-label>Active Directory</ion-label>
    </ion-item-divider>

    <ion-list>
      @for (field of adFullFields; track field.id) {
        <ion-item>
          <ion-label position="stacked">{{ field.label }}</ion-label>

          <!-- 🔥 INPUT NORMAL -->
          @if (field.type !== 'password') {
            <ion-input
              [type]="field.type"
              [value]="form()['ad']?.[field.id!]"
              (ionInput)="updateField('ad', field.id!, $event.target.value)"
              (keyup.enter)="connect('ad')"
            ></ion-input>
          }

          <!-- 🔥 INPUT PASSWORD -->
          @if (field.type === 'password') {
            <ion-input
              [type]="isPasswordVisible('ad', field.id!) ? 'text' : 'password'"
              autocomplete="off"
              [value]="form()['ad']?.[field.id!]"
              (ionInput)="updateField('ad', field.id!, $event.target.value)"
              (keyup.enter)="connect('ad')"
            ></ion-input>

            <ion-icon
              slot="end"
              [src]="isPasswordVisible('ad', field.id!) 
                ? 'assets/icon/eye-off.svg' 
                : 'assets/icon/eye.svg'"
              (click)="togglePassword('ad', field.id!)"
            ></ion-icon>
          }
        </ion-item>
      }
    </ion-list>




    <ion-button expand="block" color="success" (click)="connect('ad')">
      Conectar AD
    </ion-button>
  </ion-segment-content>


  <!-- ODOO -->
  <ion-segment-content id="odoo">
    <ion-item-divider>
      <ion-label>Odoo / Moradoo</ion-label>
    </ion-item-divider>

    <ion-list>
      @for (field of odooFullFields; track field.id) {
        <ion-item>
          <ion-label position="stacked">{{ field.label }}</ion-label>
          <ion-input
            [type]="field.type"
            [value]="form()['odoo']?.[field.id!]"
            (ionInput)="updateField('odoo', field.id!, $event.target.value)">
          </ion-input>
        </ion-item>
      }
    </ion-list>

    <ion-button expand="block" color="success" (click)="connect('odoo')">
      Conectar Odoo
    </ion-button>
  </ion-segment-content>


  <!-- UNIERP -->
  <ion-segment-content id="unierp">
    <ion-item-divider>
      <ion-label>Unierp</ion-label>
    </ion-item-divider>

    <ion-list>
      
      @for (field of unierpFullFields; track field.id) {
        <ion-item>
          <ion-label position="stacked">{{ field.label }}</ion-label>
          <ion-input
            [type]="field.type"
            [value]="form()['unierp']?.[field.id!]"
            (ionInput)="updateField('unierp', field.id!, $event.target.value)">
          </ion-input>
        </ion-item>
      }
    </ion-list>

    <ion-button expand="block" color="success" (click)="connect('unierp')">
      Conectar Unierp
    </ion-button>
  </ion-segment-content>

</ion-segment-view>

</ion-content>
