/* CONTENEDOR PRINCIPAL */
.plc-line {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  margin: auto;
}

/* PANEL IO (inputs y outputs) */
.io-panel {
  background: #3a332b;
  padding: 15px;
  border-radius: 12px;
  box-shadow: inset 0 0 12px rgba(0,0,0,0.6);
}

.io-title {
  color: #e0e0e0;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.io-block {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.io-btn {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  border: 2px solid #555;
  background: #2a2a2a;
  color: #dcdcdc;
}

.io-btn.input {
  border-color: #4caf50;
}

.io-btn.output {
  border-color: #f44336;
}

/* PANEL PLC CENTRAL */
.plc-frame {
  background: #50473b;
  padding: 20px;
  border-radius: 12px;
  box-shadow: inset 0 0 12px rgba(0,0,0,0.6);
  flex-grow: 1;
}

.plc-header {
  text-align: center;
  margin: auto;
}

.plc-icon {
  width: 80px;
}

.plc-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #e0e0e0;
}

.plc-led-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.plc-led {
  opacity: 0.4;
  &.on { opacity: 1; }
}

.szl-card {
  background: #2a2a2a;
  color: #dcdcdc;
  border-radius: 10px;
}

.io-btn.on {
  background: #4caf50 !important;   /* verde ON */
  color: #fff;
  border-color: #81c784;
}

.io-btn.output.on {
  background: #f44336 !important;   /* rojo ON */
  color: #fff;
  border-color: #e57373;
}
