.header-grid {
  width: 100%;
}


.header-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
ion-item {
  --background: var(--toolbar-background);
  --color: var(--toolbar-color);
  border-radius: 12px;
  padding: 4px 8px;
}

/* LOGO */
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-industrial {
  height: 50px;
  filter: drop-shadow(0 0 2px var(--accent));
}

/* TÍTULO */
.header-title {
  text-align: center;
}

/* SERVER BLOCK */
.header-server-block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
}

/* ITEM CONTENEDOR */
.server-item {
  --background: var(--toolbar-background);
  --color: var(--toolbar-color);
  border-radius: 12px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* CHIP DEL SERVIDOR */
.server-chip {
  --background: var(--toolbar-background);
  --color: var(--accent);
  border-radius: 16px;
  padding: 4px 10px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  min-width: 180px;
}

.server-icon {
  width: 20px;
  height: 20px;
  color: var(--accent);
  gap: 12px;
}

/* ESTADO */
.status-dot {
  width: 16px;
  height: 16px;
  min-width: 16px;
  border-radius: 50%;
  background-color: var(--ion-color-secondary);
  border: 2px solid var(--ion-color-secondary);
  margin: 10px;
}

.status-dot.ok {
  background-color: #3ddc84;
  border-color: #3ddc84;
  filter: drop-shadow(0 0 4px #3ddc84);
}

.status-dot.fail {
  background-color: #d9534f;
  border-color: #d9534f;
  filter: drop-shadow(0 0 4px #d9534f);
}

/* SELECT REFRESCO */
.refresh-select {
  min-width: 100px;
  max-width: 140px;
}

/* IDIOMA + TEMA + LOGIN */
.header-actions {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .header-server-block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-logo {
    justify-content: center;
  }

  .header-title {
    text-align: center;
  }

  .header-actions {
    justify-content: center;
  }
}
