/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */

@import '@ionic/angular/css/palettes/dark.system.css';
/* VARIABLES BASE (siempre existen) */
:root {
  --background: #06c536;
  --color: #222;
  --toolbar-background: #f8f8f8;
  --toolbar-color: #333;
  --accent: #ffd54f;
}

/* TEMA LIGHT */
:root[data-theme='light'] {
  --background: #ffffff;
  --color: #222;
  --toolbar-background: #f8f8f8;
  --toolbar-color: #333;
  --accent: #ffd54f;
}

/* TEMA INDUSTRIAL */
:root[data-theme='industrial'] {
  --background: #1e1e1e;
  --color: #e0e0e0;
  --toolbar-background: #1e1e1e;
  --toolbar-color: #d4af37;
  --accent: #d4af37;
}

/* TEMA DARK */
:root[data-theme='dark'] {
  --background: #000;
  --color: #eee;
  --toolbar-background: #111;
  --toolbar-color: #ccc;
  --accent: #6a4fbf;
}


ion-toolbar {
  --background: var(--toolbar-background);
  --color: var(--toolbar-color);
}

ion-title {
  color: var(--accent);
  
}
